.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.table, caption{
    margin-bottom: 10px;
}   

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.table th {
    background-color: #f0f0f0;
    font-weight: bold;
}